.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.banner {
  position: fixed;
  height: 100vh;
  width: 45vw;
  display: flex;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1080px) {
  .banner {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 45vh;
    position: relative;
    justify-items: center;
    padding-bottom: 2.5rem;
  }
}
.logo {
  background-color: green;
  padding: 5rem;
}
.name-title {
  display: flex;
  position: absolute;
  flex-direction: column;
  bottom: 1.5rem;
  left: 1.5rem;
  padding-left: 2rem;
  text-align: left;
  font-size: small;
  margin-bottom: 1rem;
}
h1 {
  font-weight: 800;
  line-height: 0;
}
h2 {
  line-height: 0;
  font-weight: 300;
}
h3 {
  font-weight: 800;
}
h4 {
  font-weight: 400;
}
.main-container {
  background-color: black;
  color: white;
  height: 100vh;
  width: auto;
}
@media (min-width: 1080px) {
  .main-container {
    margin-left: 45vw;
  }
}
nav {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  position: relative;
  font-size: large;
}
.main-content {
  padding-top: 3rem;
  padding-left: 1rem;
  margin: 2rem;
  height: 80vh;
  text-align: left;
}
a {
  font-weight: 600;
  font-size: x-large;
  text-decoration: none;
}
a:link {
  text-decoration: inherit;
  color: inherit;
  font-weight: inherit;
}
a:hover {
  text-decoration: underline;
  cursor: pointer;
  text-decoration-thickness: 2px;
  text-underline-offset: 6px;
  text-decoration-color: green;
}
a:visited {
  color: inherit;
  text-decoration: none;
  text-decoration-color: green;
}
.project-list {
  display: flex;
  flex-direction: column;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.25;
}
#links {
  font-size: medium;
  font-weight: 400;
}
